*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
}

.navbar .heading{
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main{
    display: flex;
    padding: 2rem 5rem;
    align-items: center;
}

.main .left h1{
    font-size: 3.5rem;
}

.main .left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main .left p{
    padding: 1rem;
    background-color: black;
    width: 30%;
    color: white;
    border-radius: 100px;
    text-align: center;
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: 4;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.main .right{
    display: flex;
    justify-content: flex-end;
    background-color: #F3EAE5;
    padding: 8.5rem 4rem 7rem 0;
    border-radius: 15px;
    width: 64%;
    position: relative;
}

.main .right .content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.first .right .content p{
    line-height: 1.5rem;
}

.main .right .pic-1{
    position: absolute;
    width: 48%;
    border-radius: 15px;
    top: 6%;
    right: 67%;
}

.main .right .pic-2{
    position: absolute;
    width: 28%;
    border-radius: 15px;
    top: 70%;
    right: 60%;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    align-items: center;
}

.footer .right{
    display: flex;
    gap: 1rem;
}

.footer .left{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: #F3EAE5;
    border-radius: 10px;
}
